/* .outer-wrapper-konva {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.stage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
