.outer-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.divider-custom {
  margin: 0 0;
}

/* .project-page .project-wrapper {
  background: linear-gradient(to bottom, #4599e8, #9acdef);
} */

.project-above-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
}

.project-above-section .left-section {
  display: flex;
  flex-direction: row;
}

.project-above-section .left-section .all-project-text {
  padding-left: 10px;
}

.project-above-section .right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-above-section .right-section .button-create-project {
  text-align: center;
}
