.column-wrapper {
  background-color: #f0f2f5;
}

.middle-column {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 35px;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.middle-column .body-annotate {
  margin-top: 20px;
}

.sidebar {
  background-color: #f0f2f5;
  padding: 20px;
}

.sidebar-right {
  background-color: #f0f2f5;
  padding: 20px;
}

.custom-divider {
  margin: 0 0;
}

.function-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.annotation-method {
  width: 120px;
}

.function-item {
  background-color: #f2f2f2;
  margin: 0px 5px;
  padding: 10px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
}

.function-item .item-title {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 10px;
  color: #888;
}

.function-item .item-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.button-bounding_box {
  margin-left: 5px;
}

.button-bounding_box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: black;
  padding-bottom: 50px;
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.button-bounding_box:hover .button-bounding_box-text {
  visibility: visible;
  opacity: 1;
}

.button-polygon {
  margin-left: 5px;
}

.button-polygon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: black;
  padding-bottom: 50px;
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.button-polygon:hover .button-polygon-text {
  visibility: visible;
  opacity:1;
}
