/* .home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  overflow: hidden;
} */

.content {
  border-radius: 20px;
  width: 150vh;
  height: 80vh;
  text-align: center;
  background-image: url('./images/background-image.jpg'); /* Replace with your background image */
   /* Adjust the background color and opacity as desired */
  padding: 20px;
}

.title {
  font-size: 24px; /* Adjust the font size of the title as desired */
}

/* .login-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
} */
