.divider-custom {
  margin: 0 0;
}

.project-description-wrapper {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100% - 100px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 0px 20px;
  background-color: #f2f2f2;
}

.project-description-wrapper .project-description-text {
  margin-bottom: 20px;
}

.button-change-owner {
  margin-top: 20px;
  position: absolute;
  right: 110px;
}
