div.select-item-wrapper {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* this will create 3 columns with equal width */
  grid-gap: 10px; /* you can adjust the gap between the columns */
  padding: 0px 10px;
}

div.select-item-text {
  width: 300px;
}

div.select-item-color {
  margin-top: 15px;
  border-radius: 0.3rem;
}
