.select-list {
  text-align: left;
}

div.select-item-wrapper {
  display: inline-block; /* Place the inner divs next to each other */
  margin: 0px;
  /* background-color: #f0f0f0; Set the background color of the inner divs */
  /* border-radius: 8px; */
}

div.select-item-wrapper .select-item-text{
  font-size: 10px;
  font-weight: bold;
}

div.select-item-wrapper.selected {
  transform: scale(1.05);
}
div.select-item-wrapper.selected .select-item-text {
  border: 1.5px black solid;
}

div.select-item-color {
  margin-top: 15px;
  border-radius: 0.3rem;
}
